.subnav {
  background-color: #232f3e;
  height: 40px;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.subnav__location {
  color: white;
}

.subnav__address {
  display: flex;
  flex-direction: column;
  color: white;
  padding-right: 3.5rem;
}

.subnav__address > span {
  font-size: 0.8rem;
  font-weight: 100;
}

.subnav__address > p {
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
}

.subnav__links {
  display: flex;
  align-items: center;
  flex: 1;
}
.subnav__links > p {
  color: #ccc;
  font-size: 0.8rem;
  padding: 0.5rem;
  cursor: pointer;
}

.subnav__links > p:hover {
  border: 1px solid white;
}

.subnav__essentials {
  display: flex;
  color: white;
}
