.nav {
  background-color: #131821;
  color: white;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 140px;
  object-fit: contain;
  margin-right: 2rem;
  padding: 0.5rem 2rem 0 0.5rem;
}

.test {
  border: 1px solid white;
  margin: 0.5rem;
  padding: 0.2rem;
}
